@use "../../../../shared/styles/animations.scss" as *;

.root {
  position: relative;
  width: 100%;
  max-width: 800px;
  z-index: 100;

  &::placeholder {
    color: var(--gray);
  }

  &:focus {
    outline: var(--gray-border) 1px solid;
  }
}

.error {
  text-align: center;
}

.bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--opacity-colors-black-40);
  z-index: 100;
  display: block;
  opacity: 1;
  animation: showOpacity 0.3s ease-in-out;
}

.hidden {
  pointer-events: none;
  opacity: 0;
  visibility: hidden;
  animation: hideOpacity 0.3s ease-in-out;
}

.textField {
  label {
    color: var(--blue) !important;
  }

  >div {
    color: var(--deep-blue) !important;
    border-bottom: 1px solid var(--white) !important;
    padding-top: 20px !important;
  }

  input {
    padding: 0 !important;
  }

  button {
    color: var(--deep-blue) !important;
  }
}

.groupHeader {
  position: sticky;
  top: -10px;
  padding: 4px 10px;
  font-size: 20px;
  z-index: 10;
  color: var(--white);
  background-color: var(--deep-blue);
}

.groupItems {
  padding: 0;
}

.optionLi {
  margin-bottom: 10px;
  margin-inline: 10px;
  font-size: 18px;

  &:first-child {
    margin-top: 10px;
  }
}

.link {
  display: flex;
  align-items: center;
  gap: 8px;
  height: 100%;
  padding: 6px 16px;
  @include expandableArea;
  --clickable-area-expandable-ratio: 5px;

  &:hover {
    @media (hover: hover) and (pointer: fine) {
      background: var(--deep-blue-hover);
      color: var(--white);
      fill: var(--white);
      border-radius: 10px;
    }
  }
}

.img {
  object-fit: cover;
  border-radius: 2px;
}