.addressList {
  ul {
    display: flex;
    flex-wrap: wrap;
    gap: 4px;

    >button {
      width: 100%;
      padding: 8px;
      text-align: left;
      color: var(--deep-blue);
      background: var(--light-gray);
      transition: all 0.2s ease-in-out;

      &:hover {
        @media (hover: hover) and (pointer: fine) {
          cursor: pointer;
          color: var(--white);
          background: var(--blue);
        }
      }
    }
  }
}