.root {
  label {
    color: var(--white);

    span {
      color: var(--additional-red);
    }
  }

  input,
  textarea {
    color: var(--white);
  }

  input {
    border-bottom: 1px solid var(--gray);
  }

  ul {
    display: flex;
    flex-wrap: wrap;
    gap: 4px;

    >button {
      width: 100%;
      padding: 8px;
      text-align: left;
      background: var(--almost-dark-gray);
      transition: all 0.2s ease-in-out;

      &:hover {
        @media (hover: hover) and (pointer: fine) {
          cursor: pointer;
          color: var(--almost-dark-gray);
          background: var(--gray);
        }
      }
    }
  }
}