.root {
  position: relative;
  margin-bottom: 10px;
  margin-inline: 10px;
  font-size: 18px;

  &:first-child {
    margin-top: 10px;
  }
}

.link {
  display: flex;
  align-items: center;
  gap: 8px;
  width: 100%;
  height: 100%;
  padding: 6px 16px;
  border-radius: 10px;
  @include expandableArea;
  --clickable-area-expandable-ratio: 5px;
  transition: all 0.2s ease-in-out;

  &:hover {
    @media (hover: hover) and (pointer: fine) {
      background: var(--deep-blue-hover);
      fill: var(--white);

      span {
        color: var(--white);
      }

      .img {
        transform: scale(1.2);
      }
    }
  }
}

.img {
  object-fit: cover;
  border-radius: 2px;
  transition: transform 0.2s ease-in-out;
}

.name,
.price {
  transition: color 0.2s ease-in-out;
}

.price {
  margin-left: auto;
  color: var(--blue);
  font-weight: 700;
}

.btn {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 5;
  @include expandableArea;
  --clickable-area-expandable-ratio: 10px;
}

.icon {
  width: 25px;
  min-width: 25px;
}