.title {
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 700;
  line-height: 22px;
}

.input {
  margin-bottom: 16px;
}

.items {
  overflow: auto;
  display: flex;
  flex-direction: column;
  gap: 2px;
  max-height: 246px;
  margin-bottom: 12px;
}

.itemSkeleton {
  height: 24px;
  margin-bottom: 18px;
  @include skeleton;

  &:first-child {
    margin-top: 9px;
  }

  &:last-child{
    margin-bottom: 9px;
  }
}

.btnSkeleton {
  height: 18px;
  @include skeleton;
}