.breadcrumb {
  @include wrap;

  & {
    margin: 0 auto 20px !important;
    color: var(--gray) !important;

    a {
      transition: 0.3s;

      @media (hover: hover) {
        &:hover {
          color: var(--white) !important;
        }
      }
    }

    span {
      color: var(--white) !important;
    }
  }
}

.wrap {
  @include wrap;

  & {
    display: flex;
    gap: 40px;
  }
}

.left {
  position: relative;
  width: calc(50% - 20px);
  height: 560px;
}

.img {
  object-fit: cover;
  box-shadow: 0 0 30px 10px var(--dark-blue);
}
