.root {
  @include wrap;

  & {
    display: flex;
    gap: 40px;
  }
}

.left {
  position: relative;
  width: calc(50% - 20px);
  height: 560px;
}

.img {
  object-fit: cover;
  box-shadow: 0 0 30px 10px var(--dark-blue);
}

.right {
  width: calc(50% - 20px);
}

.title {
  font-size: 42px;
  font-weight: 600;
  line-height: 140%;
  margin-bottom: 20px;
}
