.wrap {
  @include wrapPage;

  & {
    display: flex;
    gap: 40px;
  }
}

.left {
  position: relative;
  width: calc(50% - 20px);
  height: 560px;
}

.img {
  border-radius: 8px;
  object-fit: cover;
  box-shadow: 0 0 16px 6px var(--deep-blue);
}