.root {
  position: relative;
}

.input input {
  padding-right: 40px;
}

.togglePassword {
  position: absolute;
  right: 12px;
  top: 27px;
  background: transparent;

  svg {
    width: 20px;
    height: 20px;
  }

  &:hover {
    @media (hover: hover) and (pointer: fine) {
      cursor: pointer;
    }
  }
}