@use "../../../shared/styles/animations.scss" as *;

.bg {
  position: fixed;
  inset: 0;
  background: var(--opacity-colors-black-40);
  z-index: 1;
  display: block;
  opacity: 1;
  animation: showOpacity 0.3s ease-in-out;
}

.hidden {
  pointer-events: none;
  opacity: 0;
  visibility: hidden;
  animation: hideOpacity 0.3s ease-in-out;
}

.root {
  position: relative;
  width: 100%;
  max-width: 800px;
  z-index: 1;

  &::placeholder {
    color: var(--gray);
  }

  &:focus {
    outline: var(--gray-border) 1px solid;
  }

  :global(.MuiFilledInput-root) {
    background-color: var(--input-gray);

    &:hover {
      background-color: var(--input-gray);
    }
  }

  :global(.MuiFilledInput-root.Mui-focused) {
    background-color: var(--input-gray);
  }
}

.error {
  text-align: center;
}