@use "../../../shared/styles/animations.scss" as *;

.stack {
  position: relative;
  isolation: isolate;     
  z-index: 0;
}

.stackOpen{
  z-index: 1000;
}

.bg {
  position: fixed;
  inset: 0;
  background: var(--opacity-colors-black-40);
  z-index: 0;
  display: block;
  opacity: 1;
  animation: showOpacity 0.3s ease-in-out;
}

.hidden {
  pointer-events: none;
  opacity: 0;
  visibility: hidden;
  animation: hideOpacity 0.3s ease-in-out;
}

.root {
  position: relative;
  width: 100%;
  max-width: 800px;
  z-index: 1;

  &::placeholder {
    color: var(--gray);
  }

  &:focus {
    outline: var(--gray-border) 1px solid;
  }
}

.error {
  text-align: center;
}