.root {
  background: var(--dark-gray);

  label {
    color: var(--white);

    span {
      color: var(--additional-red);
    }
  }

  input,
  textarea {
    color: var(--white);
  }

  input {
    border-bottom: 1px solid var(--gray);
  }
}