.root {
  background: var(--opacity-white-60);

  label {
    color: var(--blue);

    span {
      color: var(--additional-red);
    }
  }

  input,
  textarea {
    color: var(--deep-blue);
  }

  input {
    border-bottom: 1px solid var(--input-gray);
  }

  &.paddingSize {
    &_sm {
      input {
        padding: 8px 12px;
      }
    }
  }
}