.title,
.titleSkeleton {
  @include subtitle;

  & {
    margin-bottom: 30px;
  }
}

.list,
.skeletonRow {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 30px;
  row-gap: 40px;
}

.titleSkeleton {
  width: 200px;
  height: 29px;
  @include skeleton;

  &::before {
    border-radius: 4px;
  }
}