.root {
  position: sticky;
  top: 0;
  z-index: 20;
  border-bottom: 1px solid var(--blue-border);
  transition: 0.5s transform ease-in-out;
}

.hidden {
  transform: translateY(-100%);
}

.wrap {
  @include wrap;

  & {
    padding-top: 24px;
    padding-bottom: 24px;
    display: flex;
    justify-content: space-between;
    background: var(--dark-gray);
  }
}

.hideBtn,
.showBtn {
  position: absolute;
  right: 24px;
  transition: all 0.8s ease-in-out;

  svg {
    width: 24px;
    height: 24px;
  }
}

.hideBtn {
  top: 24px;

  svg {
    transform: rotate(180deg);
  }
}

.showBtn {
  bottom: -72px;
}

.hiddenBtn {
  pointer-events: none;
  display: none;
  opacity: 0;
}
