@use "../../../../shared/styles/animations.scss" as *;

.root,
.rootSkeleton {
  position: relative;
  display: flex;
  gap: 24px;
  padding: 20px;
  background: var(--white);
  border-radius: 25px;

  &:not(:last-child) {
    margin-bottom: 20px;
  }

  &::after {
    @include pseudo;
    width: 0;
    opacity: 0.5;
  }
}

.remove {
  &::after {
    border-radius: 25px;
    background: var(--almost-dark-gray);
    animation: 0.5s linear deleteCard forwards;
  }
}

.imgWrap,
.imgWrapSkeleton {
  position: relative;
  width: 65px;
  min-width: 65px;
  height: 65px;
}

.img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.contentWrap,
.contentWrapSkeleton {
  width: 100%;
}

.title,
.titleSkeleton {
  font-size: 16px;
  font-weight: 700;
  line-height: 140%;
  margin-bottom: 3px;
}

.description {
  position: relative;
  font-size: 14px;
  line-height: 130%;
  color: var(--gray);
  padding-bottom: 12px;
  margin-bottom: 12px;

  &::after {
    @include pseudo;
    bottom: 0;
    border-bottom: 1px solid var(--gray-border);
  }
}

.bottom,
.bottomSkeleton {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
}

.bottomRight,
.bottomRightSkeleton {
  display: flex;
  gap: 8px;
}

.price,
.priceSkeleton {
  color: var(--deep-blue);
  white-space: nowrap;
  font-size: 16px;
  font-weight: 700;
  line-height: 140%;
}

.imgWrapSkeleton,
.titleSkeleton,
.descriptionSkeleton,
.btnsSkeleton,
.bottomRightSkeleton {
  @include skeleton;

  &::before {
    border-radius: 4px;
  }
}

.titleSkeleton {
  width: 40%;
  height: 22.4px;
}

.descriptionSkeleton {
  width: 60%;
  height: 18.2px;
}

.descriptionLineSkeleton {
  position: relative;
  padding-bottom: 12px;
  margin-bottom: 12px;

  &::after {
    @include pseudo;
    top: 12px;
    border-bottom: 1px solid var(--gray-border);
  }
}

.btnsSkeleton {
  width: 12%;
  height: 33.62px;
}

.bottomRightSkeleton {
  width: 20%;
  height: 20px;
}

.btn {
  @include expandableArea;
  --clickable-area-expandable-ratio: 16px;

  &:hover {
    @media (hover: hover) and (pointer: fine) {
      .trash {
        fill: var(--deep-blue-hover) !important;
      }
    }
  }
}

.trash {
  width: 20px;
  min-width: 20px;
  fill: var(--gray) !important;
  transition: fill 0.3s ease;
}

.loading {
  @include spinner;
}