.root {
  position: sticky;
  top: 0;
  z-index: 20;
  border-bottom: 1px solid var(--blue-border);
  transition: 0.5s transform ease-in-out;
}

.wrap {
  @include wrap;

  & {
    padding-top: 24px;
    padding-bottom: 24px;
    display: flex;
    justify-content: space-between;
    background: var(--dark-gray);
  }
}
