:root {
  //white
  --white: #fff;
  --white-blur: rgba(255, 255, 255, 0.1);

  //purple
  --purple: #6d28d9;
  --dark-purple: #6c28d9ae;
  --background--purple: #5b1dbe8f;

  //black
  --black: #000;

  //gray
  --gray: #4B5563;
  --gray-border: #4B5563;
  --dark-gray: #171717;
  --input-gray: #F0F0F0;
  --light-gray: #dddddd;

  --dark-gray: #171717;
  --almost-dark-gray: #343434;
  --semi-dark-gray: #454545;

  //blue
  --deep-blue: #1E3A8A;
  --deep-blue-hover: #274db4;
  --blue: #166abe;

  --light-blue: #1b7fe3;
  --gray-border: #7088a0;
  --deep-blue: #0e4276;
  --dark-gray-blue: #2d3748;
  --gray-blue: #334155;
  --dark-blue: #1e293b;

  //others
  --opacity-white-60: rgba(255, 255, 255, 0.6);
  --opacity-colors-black-40: rgba(0, 0, 0, 0.4);
  --additional-red: #ff5b45;
  --red-hover: #de321b;

  //vars
  --scrollbar-width: 8px;
}