@font-face {
  font-family: "Geist";
  src:
    url("../static/fonts/Geist.woff2") format("woff2"),
    url("../static/fonts/Geist.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Geist Mono";
  src:
    url("../static/fonts/GeistMono.woff2") format("woff2"),
    url("../static/fonts/GeistMono.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
