html,
body {
  width: 100%;
  height: 100%;
  color: var(--gray);
  background: var(--white);
  font-family: var(--font-geist) !important;
  font-weight: 500;
  font-size: 14px;
  user-select: text;
  min-height: 100dvh;
  min-width: 320px;
  scroll-padding-top: 100px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scrollbar-gutter: stable;
}

@media screen and (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: smooth;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #1E3A8A;
  font-family: var(--font-geist-mono) !important;
  text-wrap: balance;
}

p {
  text-wrap: pretty;
}

body {
  @include scrollbar;
}

body[data-no-scroll="true"] {
  overflow: hidden;
}

::selection {
  background-color: var(--blue);
  color: var(--white);
}