.root {
  display: inline-flex;
  gap: 10px;
  background-color: var(--dark-blue);
  border-radius: 16px;
  padding: 4px;
}

.rootSkeleton {
  @include skeleton;

  &::before {
    border-radius: 16px;
  }
}