.root {}

.title {
  font-size: 20px;
  line-height: 120%;
  margin-bottom: 16px;
}

.form {
  width: 100%;
  max-width: 520px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  border-bottom: 2px solid var(--dark-blue);
  padding-bottom: 16px;
  margin-bottom: 16px;
}

.saveBtn,
.exitBtn {
  width: 100% !important;
  max-width: 240px !important;
  font-size: 16px !important;
}