.root {
  margin: 0 auto 20px !important;
  color: var(--gray) !important;

  a {
    transition: 0.3s;

    @media (hover: hover) {
      &:hover {
        color: var(--blue) !important;
      }
    }
  }

  span {
    color: var(--blue) !important;
  }
}

.wrap{
  @include wrap;
}