.root {
  position: relative;

  &:hover {
    @media (hover: hover) and (pointer: fine) {

      .cartIcon,
      .count {
        opacity: 0;
      }

      .arrowIcon {
        opacity: 1;
        right: 18px;
      }
    }
  }
}

.arrowIcon,
.cartIcon,
.count {
  transition: 0.3s ease;
}

.cartIcon,
.count {
  opacity: 1;
}

.line {
  position: relative;

  &::before {
    @include pseudo;
    height: 26px;
    top: -13px;
    width: 1px;
    background: var(--gray);
  }
}

.arrowIcon {
  position: absolute;
  right: 0;
  width: 30px;
  height: 18px;
  opacity: 0;
}

.cartIcon {
  width: 16px;
  height: 16px;
}