.wrap {
  width: 20dvw;
  height: 100%;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  justify-content: safe center;
  align-items: safe center;
  gap: 20px;
  background: var(--gray);
  color: var(--white);
}