.root {
  position: absolute;
  z-index: 21;
  width: 100%;
  pointer-events: none;
}

.wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
  padding: 25px 45px;
  margin-inline: auto;
  max-width: 1440px;
  outline: var(--gray-border) 1px solid;
  border-radius: 0 0 40px 40px;
  transition: background 0.3s ease-in-out, outline 0.3s ease-in-out;
}

.left,
.right,
.searchInput {
  pointer-events: auto;
}

.left {
  position: relative;
  z-index: 0;

  &:hover {
    @media (hover: hover) and (pointer: fine) {
      .engIcon {
        fill: var(--deep-blue);
      }

      .title {
        color: var(--blue);
      }
    }
  }
}

.engIcon,
.title {
  transition: all 0.2s ease-in-out;
}

.engIcon {
  width: 32px;
  height: 32px;
  fill: var(--blue);
  position: absolute;
  right: -8px;
  bottom: 0;
  z-index: -1;
}

.title {
  text-transform: uppercase;
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
}

.right {
  display: flex;
  gap: 10px;
}

.icon {
  width: 16px;
  min-width: 16px;
  height: 16px;
}

.left,
.searchInput {
  opacity: 1;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

.scrolled {
  .root {
    position: fixed;
  }

  .left,
  .searchInput {
    opacity: 0;
    visibility: hidden;
    height: 0;
    overflow: hidden;
  }

  .wrap {
    outline: transparent;
  }

  .right {
    margin-left: auto;
  }
}