.root {
  display: inline-flex;
  align-items: center;
  gap: 6px;
  padding: 10px 16px;
  border-radius: 16px;
  background-color: var(--purple-dark);
}

.icon{
  width: 16px;
  height: 16px;
  fill: var(--white);
}

.select{
  font-weight: 700;
}